
h1 {   color:rgba(255, 255, 255, 0.959);
    text-align:center;
    font-size: 35px; font-family: 'Lobster', cursive;} 
.footer {position:fixed;left: 0;bottom: 10px;width: 100%;color: rgb(255, 255, 255);font-family: 'Noto Serif JP', sans-serif;
        text-align: center;background-color: beige;}
.background4{background: url(pozadina.jpg.jpg);
            background-repeat: no-repeat;
            background-size: cover;}    
   
.klocka{color: rgb(255, 255, 255);font-size: 60px;margin-top: 10px;
                position: absolute;margin-left:0;}        
div{
    line-height: 0px;
}
.world{margin-left: 16%}
.wall {
    width: 30px;
    height: 30px;
    background-image: url('wall.png');
    display: inline-block;}
.coin {
    width: 30px;
    height: 30px;
    background-image: url('coin.png');
    display: inline-block;}
.ground {
    width: 30px;
    height: 30px;
    background-image: url('blank.png');
    display: inline-block;}
.ghost {
    width: 30px;
    height: 30px;
    background-image: url('ghost2.png');
    display: inline-block;}
    .ghost1 {
        width: 30px;
        height: 30px;
        background-image: url('ghost2.png');
        display: inline-block;}
        .ghost2 {
            width: 30px;
            height: 30px;
            background-image: url('ghost1.png');
            display: inline-block;}
.pacman {width: 30px;
    height: 30px;
    background-image: url('pacman.png');
    display: inline-block;}

    ul{    list-style-type: none; 
        margin: 0px;
        padding: 0px;
        text-align:center;
        font-family: 'Noto Serif JP', sans-serif; }
 ul li{ display:inline; 
        padding:10px;}
 ul a{  display:inline block;
        padding:10px;}
 li a { display: inline-block;
        color:rgb(255, 255, 255); 
        text-decoration: none;
        text-align:center;}
 li{   display:inline-block;
       padding:1%;}
 li a:hover {background-color:rgb(0, 0, 0);}
 .text3{background-color: rgb(149, 149, 255);line-height: 20px;
    color:rgb(0, 0, 0);text-align: center;
     width:15%;padding: 5px;
    margin-left: 43%;
    font-family: 'Noto Serif JP', sans-serif;}     